<% notice.errors.each do |error| %>
h1. <%= airbrake_error_title(error) %>

<% if error.backtrace.present? %>
h2. Stacktrace:

p((. <%= raw error.backtrace.map { |e| airbrake_format_backtrace_element(repositories, e) }.join("\n") %>
<% end %>

<% end %>

<% if notice.application.present? %>
h2. Application:

<%= airbrake_format_list_item('Name', notice.application[:name]) %>
<%= airbrake_format_list_item('Version', notice.application[:version]) %>
<% end %>


<%= airbrake_render_section(notice.params, 'Parameters') %>


<%= airbrake_render_section(notice.session, 'Session') %>


<%= airbrake_render_section(notice.context, 'Context') %>


<%= airbrake_render_section(notice.environment, 'Environment') %>
